* {
    font-size: 1em;
}
    
html, body {
 width: 210mm !important;
 height: 297mm;
}
form, .navigation {
   display: none;
}
.meeting {
    /*page-break-after: always;*/
     break-after: always;
/*     max-width: 210mm !important;
     min-width: 210mm !important;*/
     padding: 1cm 0 0;
     margin: 0;
/*     border: 1px #D3D3D3 solid;
     border-radius: 5px;*/
     background: white;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
hr {
    page-break-after: always;
}

table.collapse {
   display: table;
}

td {
   word-wrap: anywhere;
}