/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 mai 2020, 15:00:48
    Author     : fabrice
*/

body {
    padding-bottom: 2em;
}

button i {
    font-size: 1em;
}

i {
    font-size: 1.5em;
}

#embedpdf {
        min-height: 40em;
    }

    .embed-responsive-210by297 {
        padding-bottom: 141.42%;
    }
    
    .embed-responsive-210by297 .dpdf {
        height: 40em;
        width: 100%;
    }

@page {
  size: A4;
  margin: 1cm 0.5cm;
}

@media print {
    * {
        font-size: 0.95em;
    }
    
    html, body {
        width: 210mm !important;
        height: 297mm;
   }
    form, .navigation {
        display: none;
    }
    .meeting {
        /*break-after: always;*/
        max-width: 190mm !important;
        min-width: 190mm !important;
        padding: 1cm 0 0;
        margin: 0;
/*        border: 1px #D3D3D3 solid;
        border-radius: 5px;*/
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    hr {
        page-break-after: always;
    }
    table.collapse {
        display: table;
    }

    td {
        word-wrap: anywhere;
    }
  
    
}

