<form method="get" class="col-xs-12 col-md-6" action="{{ action }}" enctype="application/x-www-form-urlencoded">
<div class="form-row">
{#    <div class="form-group">#}
{#        <div class="row justify-content-around">#}
            <div class="col-xs-12 col-md-6">
                <label class="control-label" for="dateStart">Début : </label>
                <div class="input-group">
                    <input type="date" id="dateStart" class=" col-xs-12 form-control datepicker" name="dateStart" {#required="required"#} value="{{ options.dateStart }}">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-xs col-md-6">
                    <label class="control-label" for="dateEnd">Fin :</label>
                    <div class="input-group">
                        <input type="date" id="dateEnd" class=" col-xs-12 form-control dateClass datepicker" name="dateEnd" {#required="required"#} value="{{ options.dateEnd }}">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                    </div>                                  
            </div>
{#        </div>#}
    </div>
{#    <div class="row">#}
        <div class="form-row">
{#            <div class="row justify-content-around">#}
{#                <div class="col-xs-12 col-md-6">#}
        {% if fields|length > 1 %}
            <select class="custom-select col-xs-6 col-md-4" name="{{ filterFieldName }}">
                {% for field, label in fields %}
                    <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        {% else %}
            <input type="hidden" name="{{ filterFieldName }}" value="{{ fields|keys|first }}" />
        {% endif %}
                {#</div>#}

        <input type="text" class="form-control col-xs-6 col-md-8" value="{{ selectedValue }}" name="{{ filterValueName }}" />
            </div>
{#        </div>#}
{#    </div>#}
<div class="form-row justify-content-end">
    <div class="col-xs-6">
        <a href="{{ path('presences') }}" id="presences" type="button" class="btn btn-primary"><i class="fas fa-user-clock"></i> Feuilles présences</a>
    <button class="btn btn-success"><i class="fas fa-filter"></i> Filtrer</button>
    <button id="printpage1" type="button" class="btn btn-primary"><i class="fas fa-print"></i> Imprimer</button>
    </div>
</div>
</form>
