{% extends 'base.html.twig' %}

{% block title %}bbb-Analytics{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="fontawesome/css/all.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    
{#    <form method="GET" class="container">
        
        <div class="row justify-content-end">
            <div class="col-xs-12 col-md-auto">
                <button id="printpage1" type="button" class="btn btn-primary"><i class="fas fa-print"></i> Imprimer</button>
                <button type="submit" class="btn btn-primary"><i class="fas fa-filter"></i> Filtrer</button>
            </div>
        </div>

    </form>#}
        <div class="row justify-content-around">
                {{ knp_pagination_filter(meetings, {
                    'm.name': 'MeetingName',
                    'j.name': 'ModeratorName',
                },
                {'dateStart' : dateStart,
                    'dateEnd' : dateEnd},
                ) }}
        </div>                             
                          
    <div class="col"> 
    {% if meetings is not null %} 
    <div class="navigation row justify-content-center">
        {{ knp_pagination_render(meetings) }}
    </div>
    {% set collapse = {'content':'collapse'} %}
    
    {% include "default/tablemeeting.html.twig" with collapse %}

    <div class="navigation row justify-content-center">
        {{ knp_pagination_render(meetings) }}
    </div>
        
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        <script>
            
            
            $('#printpage1').on('click', function() {
                $.ajax({
                    url: '{{ path('print') }}',
                    type: 'POST',
                    async: true,
                    xhrFields: {
                        responseType: 'blob'
                    },
                    data: {
                        'dateStart': $('#dateStart').val(),
                        'dateEnd': $('#dateEnd').val(),
                        'filterField': $('[name="filterField"]').children('option:selected').val(),
                        'filterValue': $('[name="filterValue"]').val()
                    },
                    success: function(data){
                        console.log(data.size);
{#                        var blob=new Blob([data], { type: 'application/pdf' });#}
                        var link=document.createElement('a');
                        link.href=window.URL.createObjectURL(data);
                        link.download="file_"+$('#dateStart').val()+"-"+$('#dateEnd').val()+".pdf";
                        link.click();
                    }
                })
            });
            
            $('#printpage').on('click',function(){
                $('.collapse').collapse('show');
                window.print();
                $('.collapse').collapse('hide');
            });
        </script>
        
{% endblock %}