{% extends 'base.html.twig' %}

{% block title %}bbb-Analytics{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="fontawesome/css/all.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.css?{{ "now"|date("YmdHis") }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="col justify-content-around">
        <h1 class="text-center">Feuilles de présences</h1>
    <div class="row">
            <div class="col-xs-12 col-md-3">
                <label class="control-label" for="dateStart">Début : </label>
                <div class="input-group">
                    
                    <input type="date" id="dateStart" class=" col-xs-12 col-md-7 form-control datepicker" name="dateStart" required="required" value="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-xs col-md-3">
                    <label class="control-label" for="dateEnd">Fin :</label>
                    <div class="input-group">
                        <input type="date" id="dateEnd" class=" col-xs-12 col-md-7 form-control dateClass datepicker" name="dateEnd" required="required" value="">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                    </div>                                  
            </div>
            <div class="col-xs-12 col-md-3">
                <label class="control-label" for="liste_joiners">Participants</label>
                <div class="input-group">
                    <select id="liste_joiners" name="liste_joiners" class="selectpicker form-control col-xs" data-live-search="true" multiple="multiple">
                        {% for joiner in joiners %}
                            <option value="{{joiner.externalid}}">{{joiner.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 align-self-end">
                <div class="input-group">
                <button id="printjoiners" class="btn btn-default btn-primary"><i class="fas fa-sync"></i></button>
                </div>
            </div>
        </div>
        <div id="presencespdf"></div>
    </div>
{% endblock %}
{% block javascripts %}

    <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                'size':5
            });
        });

        function embedPDF(file) {
            var htmlString = '<div id="embedpdf" class="embed-responsive embed-responsive-210by297">';
            htmlString += '<object type="application/pdf" data="'+file+'" class="embed-responsive-item dpdf" title="feuille présences"></object>';
            htmlString += '</div>';
            $('#presencespdf').html(htmlString);
            
        }
        
        function checkDate(){
            var check = true;
            if($('#dateStart').val() == null || $('#dateStart').val() == "" ) {
                $('#dateStart').addClass('border border-danger'); 
                check = false;
            }
            if($('#dateEnd').val() == null || $('#dateEnd').val() == "" ) {
                $('#dateEnd').addClass('border border-danger'); 
                check = false;
            }
            return check;
        }
        
        $('#printjoiners').on('click', function(){

                if(checkDate()) {
                    $.ajax({
                    type: "POST",
                    data: {'joiners' : $('#liste_joiners').val(),
                           'start' : $('#dateStart').val(),
                           'end' : $('#dateEnd').val()        
                            },
                    url: "{{ path('printpresences')}}",
                    async: true //you won't need that if nothing in your following code is dependend of the result
                    })
                    .done(function(response){
                        embedPDF('{{asset('uploads/')}}'+response);
                    })
                    .fail(function(jqXHR, textStatus, errorThrown, response){
                        console.log('Error : ' + errorThrown + response);
                    });
                }
            });
        
    </script>
{% endblock %}