{% extends 'base.html.twig' %}

{% block title %}bbb-Analytics{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{{ absolute_url('fontawesome/css/all.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{ absolute_url('css/print.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    {% if meetings is not null %} 
            {% set collapse = {'content':''} %}
        {% include "default/tablemeeting.html.twig" with collapse %}
    {% endif %}
{% endblock %}