{% for meeting in meetings %}

    <div class="container meeting d-print-table">
        <div class="col border border-info">
            <h4 class="text-center">{{ meeting.name }} {{ (meeting.breakout == 'true')?' - (Réunion privée)':'' }}</h4>        
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <table class="table">
                    <tr><th colspan="2">Session</th></tr>
                    <tr>
                        <td><i class="fas fa-stopwatch"></i></td>
                        <td>
                            {{ meeting.duree|date('%H:%I:%S') }}
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-hourglass-start"></i></td><td>{{ meeting.start|date('H:i:s') }}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-hourglass-end"></i></td><td>{{ meeting.end|date('H:i:s') }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('export_users', {'filename':meeting.filename}) }}" class="btn btn-primary" role="button" >
                                <i class="fas fa-file-csv"></i>
                            </a>
                        </td>
                        <td>Exporter</td>
                        
                    </tr>
                </table>
            </div>      
            <div class="col-7">
                <table class="table">
                    <tr><th colspan="4">Informations</th></tr>
                    <tr>
                        <td colspan="2"><i class="fas fa-calendar-day"></i></td>
                        <td colspan="2">{{ meeting.start|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-users"></i></td>
                        <td>{{ meeting.joiners|length }}</td>
                        
                        {% if meeting.joiners|length > 0 %}
                        <td class="text-right"><i class="fas fa-eye"></i></td>
                        <td>
                            <a href="#c{{ meeting.filename }}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="c{{ meeting.filename }}">Détail</a>
                        </td>    
                        {% else %}
                            <td colspan="4"></td>
                        {% endif %}
                        
                    </tr>
                    <tr>
                        <td colspan="2"><i class="fas fa-sign-out-alt"></i></td>
                        <td colspan="2">{{ meeting.reason }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><i class="far fa-file-video"></i></td>
                        <td colspan="2">{{ meeting.filename }}</td>
                    </tr>
                </table>                            
           </div>                                                   
        </div>
        <table class="table table-striped {{ collapse.content }}" id="c{{ meeting.filename }}">
        <thead class="bg-info">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Role</th>
                <th scope="col">Arrivée</th>
                <th scope="col">Départ</th>
            </tr>
        </thead>
        <tbody>
        {% for joiner in meeting.joiners %}
            <tr>
                <td>{{ joiner.externalid }}</td>
                <td>{{ joiner.name }}</td>
                <td>{{ joiner.role }}</td>
                <td>{{ joiner.jointime | date('H:i:s') }}</td>
                <td>{{ joiner.lefttime | date('H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <hr>
{% endfor %}