<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}bbb-Analytics{% endblock %}</title>
        {% block stylesheets %}
                    {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('default') }}">
                <i class="fas fa-diagnoses"></i>
            </a>
            {% if app.user %}
            <div>
                <a class="navbar-brand" href="{{ path('app_logout') }}" title="logout">
                <i class="fas fa-power-off"></i>
                </a>
            </div>
                {% endif %}
        </nav>
        {% block body %}{% endblock %}
                {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
